.error-msg{
	color: pink;
}
body{
	background: #777;
	color: #fff;
}
.wrapper{
	width: 680px;
	margin: 0 auto;
	max-width: 70%;
	padding-top: 8em;
	text-align: center;
}
input[type='text']{
	width: 100%;font-style;
	border: none;font-style;
	padding: 1em 0.5em;
	border-radius: 3px;
}
a{
	color: yellow;
}